body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
  padding-top: 30px;
}

body {
  background-color: #333;
}

img {
  border: 2px solid white;
}

.bg-1 {
  background-color: rgb(77, 99, 111);
  /* sea blue */
  color: #555555;
}

.bg-4 {
  color: #ffffff;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
}

#quoteImage {
  visibility: hidden;
}

#tweetBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b
}

#tweetBtn:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8
}